<% @profit_loss = 0 %>
<h1>My Cryptocurrency Portfolio</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Price</th>
      <th>1 HR Change</th>
      <th>24 HR Change</th>
      <th>7 Day Change</th>
      <th>Cost Paid Per</th>
      <th>Amount owned</th>
      <th>Total Paid</th>
      <th>Current Value</th>
      <th>Profit/Loss</th>
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
      <% if crypto.user_id == current_user.id %>
        <% if crypto.symbol %>
          <% crypto.symbol = crypto.symbol.upcase %>
        <% end  %>
        <tr>
        <% for x in @lookup_crypto %>
          <% if crypto.symbol == x["symbol"] %>
            <td><%= link_to x["name"], crypto, style: "color: #002699;" %></td>
            <td>$<%= x["price_usd"] %></td>
            <td><%= x["percent_change_1h"] %>%</td>
            <td><%= x["percent_change_24h"] %>%</td>
            <td><%= x["percent_change_7d"] %>%</td>
            <td>$<%= crypto.cost_per %></td>
            <td><%= crypto.amount_owned %></td>
            <td>$<%= crypto.cost_per * crypto.amount_owned %></td>
            <td>$<%= x["price_usd"].to_d * crypto.amount_owned %></td>
            <td>$<%= (x["price_usd"].to_d * crypto.amount_owned) - (crypto.cost_per * crypto.amount_owned) %></td>
            <% @profit_loss += (x["price_usd"].to_d * crypto.amount_owned) - (crypto.cost_per * crypto.amount_owned) %>
          <% end %>
        <% end %>
          
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</br>

<strong>Portfolio Profit/Loss: </strong><%= number_to_currency(@profit_loss) %>
</br>
</br>
<%= link_to 'New Crypto', new_crypto_path, class: "btn btn-default" %>
